/* ------------------------------------
	Media Queries (Desktop First)
------------------------------------ */


@media only screen and (max-width : 1200px) {

	.main-header {
		line-height: 3.5;
		height: auto;
		padding: 10px 0;
	}
	
	.header-right .input-group {
		margin-top: 12px;
	}
	
	.submenu-item {
		padding: 10px;
	}
	
	.submenu-item .icon {
		width: 55px;
		margin-right: 5px;
	}
	
	.submenu-item .text {
		font-size: 13px;
	}
	
	.submenu-item .text small {
		font-size: 10px;
	}
	
	.gallery-category {
		width: 31%;
	}

}

@media only screen and (min-width : 993px) {

	.header-right form .search-box {
        padding-right: 0;
    }
    
    .expedition-content {
		margin-right: 50px;
	}
	
	.navbar .nav > li {
		display: table-cell;
		float: none;
		text-align: center;
	}
	
}

@media only screen and (max-width : 992px) {
	
	.navbar-header {
        float: none;
    }
    .navbar-left,
	.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	
	.main-header {
		line-height: 2;
	}
	
	.top-link {
		display: block; 
		margin: 5px auto 0;
	}
	
	.header-left,
	.header-right {
		text-align: center;
		padding-bottom: 10px;
	}
	
	.navbar-collapse {
		border: 0;
		-webkit-box-shadow: none;
    	box-shadow: none;
	}
	
	.navbar-toggle {
		display: block;
		float: left;
		padding: 15px;
		font-family: 'Roboto Slab', serif;
		font-weight: 700;
		font-size: 20px;
		color: #fff;
		text-decoration: none;
	}
	
	.navbar-toggle:hover,
	.navbar-toggle:active {
		color: #fff;
		text-decoration: none;
	}
	
	.menu-text {
		display: inline-block;
		margin-left: 10px;
	}
	
	.mainmenu .menu-item {
		display: block;
		text-align: left;
		border: 0 !important;
		background-image: none !important;
	}
	
	.mainmenu .menu-item a {
		border: none;
		padding: 10px;
	}	
	
	.mainmenu .menu-item a:hover,
	.mainmenu .menu-item a:focus,
	.mainmenu .menu-item a:active,
	.mainmenu .menu-item a:hover .submenu,
	.mainmenu .menu-item a:focus .submenu,
	.mainmenu .menu-item a:active .submenu,
	.navbar-nav .open:hover .dropdown-menu,
	.navbar-nav .open:focus .dropdown-menu,
	.navbar-nav .open:active .dropdown-menu,
	.navbar-nav .open .dropdown-menu {
		background: #0a4595;
	}
	
	.submenu {
		position: static;
		overflow: hidden;
		width: 100%;
	}
	
	.submenu-box {
		float: none;
		margin: 7.5px;
		border: solid 1px #0099d8;
		width: auto;
	}
	
	.submenu-box a {
		padding: 15px;
	}
	
	.submenu-item .icon {
		width: 25px;
		height: auto;
		margin-right: 20px;
	}
	
	.submenu-item .text small {
		display: none;
	}
	
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 10px;
	}
	
	.callout-column,
	.main-callout,
	.highlight {
		margin-bottom: 25px;
	}
		
	.sidebar-links {
		margin: -35px 0 50px 0;
	}
	
	.footer-logos {
		margin-bottom: 15px;
	}
	
	.image-gallery-filters .cbp-filter-item {
		width: 100%;
	} 
	
}

@media only screen and (min-width : 992px) {

	.oceanage-transcript-video .jwplayer {
		max-width: 60%;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 991px) and (min-width : 769px){

    
    .expedition-update h5 {
		font-size: 12px;
	}
}

@media only screen and (max-width : 768px) {

	.main-header {
		padding: 20px 0;
	}
	
	.top-link {
		font-size: 14px;
		margin: 10px auto 0;
	}
	
	.phone-link {
		margin-top: 10px;
	}
	
	.top-cta {
		right: 15px;
		top: 0;
		margin-top: 10px;
	}
	
	.explorer-bio {
		padding-top: 15px;
	}
	
	.callout-column:first-child,
	.highlight:first-child {
		margin-top: 0;
	}
	
	.callout-column:last-child,
	.highlight:last-child {
		margin-bottom: 0;
	}
	
	.expedition-header-text > h2 {
		font-size: 22px;
	}
	
	.explorer > .media-left,
	.explorer > .media-body {
		display: block;
	}
	
	.explorer > .media-body {
		width: 100%;
		padding-top: 15px;
	}
	
	.explorer-img {
		max-width: 100%;
		height: auto;
		display: block;		
	}
	
	.breadcrumb { 
		font-size: 11px !important; 
	}
	
	.breadcrumb li+li:before {
		padding: 0 2px;	
	}
	
	.gallery-category {
		width: 45%;
	}

	.carousel-indicators {
		top: 5px; 
	}
	
	.carousel-indicators li,
	.carousel-indicators .active {
		margin: 0; 
		width: 6px; 
		height: 6px;
	}
	
	.carousel-control, 
	.carousel-control.left, 
	.carousel-control.right { 
		font-size: 45px;
	}
	
	#microbe-figures { 
		margin-bottom: 50px; 
	}
	
	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .glyphicon-chevron-right, 
	.carousel-control .icon-next, 
	.carousel-control .icon-prev { 
		top: 100px; 
	}

}

@media only screen and (max-width : 640px) {
	
	.callout-text-preview-text {
		display: none;
	}
	
	h1 {
		font-size: 18px;
	}
	
	h2 {
		font-size: 16px;
	}

	.expedition-by-topic .cbp-item {
		height: auto;
		overflow: visible;
	}
	
	.theme-tabs li {
		display: block;
	}

}

@media only screen and (max-width : 480px) {

	.top-cta a {
		padding: 8px;
	}
		
	.top-cta a img {
		display: none;
	}
	
	.gallery-category {
		width: 98%;
	}

}

@media only screen and (max-width : 320px) {
	
	.header-left > .logo > img {
		display: block;
		height: auto;
		max-width: 100%;
	}
}
